.Perfil > div {
    display: inline;
}

.Perfil > .shape {
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(12, 151, 243);
    font-weight: bold;
    color: #eee;
    box-shadow: rgba(0,0,0,.2) 0 1px 5px;
}