.container {
  display: flex;
  justify-content: center;
}

.card {
  box-shadow: rgba(0,0,0,.2) 0 2px 10px;
  background-color: #fff;
  width: 90%;
}

.cardToolbar {
  background-color: #2b2b2b;
  color: #fff;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.cardContent {
  display: flex;
  flex-direction: column;
  padding: 40px 40px 10px 40px;
}

.cardContentTop {
  display: flex;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.cardContentBottom {
  display: flex;
  margin-bottom: 10px;
}

.cardContentLeft {
  flex-basis: 50%;
  margin-right: 10px;
}

.cardContentRight {
  flex-basis: 50%;
  margin-left: 10px;
}

.centered {
  align-self: center ;
}

.avatarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(94, 93, 93);
  margin-bottom: 20px;
}

.avatarImg {
  height: 200px;
  width: 200px;
  background-size: cover;
  border-radius: 50%;
}

.avatarIcon {
  color: rgb(124, 122, 122);
}

.avatarBtn {
  background: none;
  align-self: center;
  font-size: 16px;
  border: none;
  font-weight: bold;
  color: #30547e;
}

.avatarBtn:hover {
  cursor: pointer;
}

.avatarBtn:focus {
  outline: none;
}

.avatarBtn:disabled {
  color: rgb(153, 152, 152);
  cursor: not-allowed;
}

@media (max-width: 900px) {
  .avatarContainer {
    margin-bottom: 30px;
  }

  .cardContentTop,
  .cardContentBottom {
    flex-direction: column;
  }

  .cardContentLeft,
  .cardContentRight {
    margin: 0
  }

  .avatar {
    height: 150px;
    width: 150px;
  }
}

@media (max-width: 800px) {
  .cardContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px 10px 20px;
  }
}