.tableContainer {
    display: flex;
    justify-content: center;
}

.closeIcon {
    position: absolute;
    top: 0px;
    right: -15px;
}

.closeIcon:hover {
    cursor: pointer;
}

.modalContent {
    height: 100%;
    width: 100%;
    position: relative;
}

.institutionData {
    margin-bottom: 30px;
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.groups {
    display: flex;
    margin-bottom: 5px;
}

.groups > .left {
    margin-right: 10px;
    flex-basis: 50%;
}

.groups > .right {
    margin-left: 10px;
    flex-basis: 50%;
}

.btnAddLocal {
    display: flex;
    border: none;
    border-radius: 4px;
    font-size: 12px;
    background: none;
    align-items: center;
    margin-bottom: 5px;
    padding: 1px 10px 1px 4px;
    border-bottom: 3px solid transparent;
    transition: all .2s;
}

.btnAddLocal:hover {
    border-bottom: 3px solid rgb(65, 170, 231);
    cursor: pointer;
}

.btnAddLocal:focus {
    outline: none;
}

.chipsContainer {
    max-width: 270px;
    height: 50px;
    display: flex;
    align-self: center;
    overflow-x: auto;
}   

.chipsContainer > *:not(:last-child) {
    margin-right: 5px;
}

@media (max-width: 450px) {
    .groups label {
        font-size: 9px;
    }

    .groups label {
        font-size: 9px;
    }

    .form > button {
        font-size: 13px;
    }
}