.Button {
    margin: 20px 0 30px 0;
    align-self: center;
    background-color: #1090da;
    color: #fff;
    font-weight: bold;
    padding: 4px 0 4px 0;
    border: none;
    border-radius: 2px;
    font-size: 18px;
    width: 50%;
    box-shadow: rgba(0,0,0,.1) 0 2px 5px;
}

.Button:hover {
    cursor: pointer;
}

.Button:focus {
    outline: none;
}