.appBar {
  background-color: #0767b2 !important;
}

.content {
  padding: 2em 4em 2em 4em;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.paragraph {
  margin-bottom: 30px;
}

.subtitle {
  margin-bottom: 16px;
}

.list {
  margin-left: 4em;
  margin-top: 6px;
  margin-bottom: 6px;
}
