.container {
  display: flex;
  justify-content: center;
}

.heading {
  font-weight: 500;
  margin-bottom: 10px;
}

.box {
  background-color: #fff;
  border-radius: 3px;
  padding: 10px;
  width: 40%;
  box-shadow: rgba(0,0,0,.2) 0 2px 10px;
}

.groupsContainer {
  display: flex;
  flex-direction: column;
  background-color: #dddddd;
  border: 1px solid #ccc;
  overflow: auto;
  height: 55vh;
  margin-bottom: 10px;
}

.groupItem {
  font-size: 18px;
  background-color: #f3f2f2;
  border: none;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #ccc;
}

.groupItem:hover {
  cursor: pointer;
  background-color: #faf9f9;
}

.groupItem:focus {
  outline: none;
}

.btnAddGroup {
  color: #3b3b3b;
  font-size: 16px;
  margin-left: 5px;
  background: none;
  border: none;
  display: flex;
  align-items: center;
}

.btnAddGroup:hover {
  cursor: pointer;
}

.btnAddGroup:focus {
  outline: none;
}

@media (max-width: 1100px) {
  .box {
    width: 60%;
  }
}

@media (max-width: 800px) {
  .box {
    width: 80%;
  }
}