.card {
  padding: 20px;
}

.mainHeader {
  color: #137ec5;
  margin-bottom: 20px;
}

.dropzoneContainer {
  margin-bottom: 10px;
}

.inputHolder {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.inputOneLine {
  width: 200px;
}

.inputMultiline {
  width: 60%;
}

.mainButton {
  font-weight: bold !important;
  background-color: #137ec5 !important;
}

.filesNameHolder {
  float: right;
}
