.container {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
}

.primaryHeading {
  font-weight: 500;
  color: rgb(15, 100, 150);
  margin-bottom: 20px;
}

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 150px;
  height: 60px;
}

@media (max-width: 380px) {
  .primaryHeading {
    font-size: 18px;
  }
}
